.active {
    color: white;
    background-color: var(--theme-yellow);
    padding: 0.5rem 2rem;
    border-radius: 22rem;
}

#map {
    height: 450px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.mobile_back {
    display: none;
}

@media (max-width: 1000px) {
    .desktop_back {
        display: none;
    }
    .mobile_back {
        display: block;
    }
}
